In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib._color_data as mcd
import seaborn as sns
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [10]:
msm_df = pd.read_csv('data/CAMP/US_MSM_Estimates_Data_2013.csv')
pov_df = pd.read_csv('data/ACS_14_5YR_poverty/ACS_14_5YR_S1701_with_ann.csv', encoding = "ISO-8859-1", skiprows=1)
inc_df = pd.read_csv('data/ACS_14_5YR_income/ACS_14_5YR_S1901_with_ann.csv', encoding = "ISO-8859-1", skiprows=1)

In [12]:
msm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3143 entries, 0 to 3142
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   REGCODE   3143 non-null   int64
 1   DIVCODE   3143 non-null   int64
 2   STATEFP   3143 non-null   int64
 3   COUNTYFP  3143 non-null   int64
 4   CSACODE   1150 non-null   float64
 5   CBSACODE  1808 non-null   float64
 6   METDCODE  113 non-null    float64
 7   METMICSA  1808 non-null   float64
 8   CENTOUTL  1807 non-null   float64
 9   ADULTMEN  3143 non-null   int64
 10  MSM12MTH  3143 non-null   int64
 11  MSM5YEAR  3143 non-null   int64
dtypes: float64(5), int64(7)
memory usage: 294.8 KB

In [13]:
msm_df.head()

,REGCODE,DIVCODE,STATEFP,COUNTYFP,CSACODE,CBSACODE,METDCODE,METMICSA,CENTOUTL,ADULTMEN,MSM12MTH,MSM5YEAR
0,3,6,1,1,NaN,33860.0,NaN,1.0,NaN,19410,333,514
1,3,6,1,3,380.0,19300.0,NaN,1.0,1.0,69724,925,1429
2,3,6,1,5,NaN,NaN,NaN,NaN,NaN,11567,82,127
3,3,6,1,7,142.0,13820.0,NaN,1.0,2.0,9508,119,184
4,3,6,1,9,142.0,13820.0,NaN,1.0,2.0,21368,601,928